//- head.pug defines everything to be included in the head of pages.
//- This includes all the stylesheets, scripts and SEO.
//-
//- `title`: defines the title of the page

head
  title #{title}

  link(rel="stylesheet" href="styles/index.scss")
