extends ../layouts/page.pug

block title
  | Blog - Vaibhav (@vrongmeal)

block main
  h1 Blog
  -
    var posts = [
      {
        title: "How I learned to stop worrying and start pinging",
        date:  new Date("September 23, 2019"),
        path:  "how-i-learned-to-stop-worrying-and-start-pinging.pug",
      },
      {
        title: "package SDSLabs > import Vaibhav",
        date:  new Date("December 18, 2018"),
        path:  "package-sdslabs-import-vaibhav.pug",
      },
    ]
  each post in posts
    p
      a(href=post.path)
        strong #{post.title}
      em.blog-post-date #{post.date.toDateString()}
  else
    p
      em There are no posts to show right now
