extends ../layouts/page.pug

block title
  | package SDSLabs > import Vaibhav - Vaibhav (@vrongmeal)

block main
  include:markdown-it(linkify, html) ../markdowns/blog/package-sdslabs-import-vaibhav.md
