extends layouts/base.pug

block title
  | Vaibhav (@vrongmeal)

block content
  .landing-main
    .landing-main-heading
      .landing-main-heading-content
        .landing-main-heading-content-title Vaibhav
        .landing-main-heading-content-context
          p Software Developer
          p @vrongmeal
    .landing-main-footing
      each link in links
        .landing-main-footing-link
          a(href=link.href) #{link.title}
